{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Meetup App{% endblock %}</title>

    <!-- CSS FILE -->
    <link rel="stylesheet" href="{% static 'bookings/style.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'bookings/image/d20.png' %}" alt="MeetUp Room Logo" class="nav-logo">
            </a>
        </div>

        <nav>
            <a href="{% url 'room_list' %}">Rooms</a>
            <a href="{% url 'create_meetup' %}">Create Meetups</a>
            <a href="{% url 'join_meetups' %}">Join Meetups</a>
            <a href="{% url 'my_reservations' %}">My Reservations</a>

            {% if user.is_authenticated %}
                <form action="{% url 'logout'%}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="logout-link">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>


    <!-- MAIN CONTENT AREA -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>

