{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Site{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  </head>

  <body>
    <header class="navbar">
      <div class="logo">
        <a href="{% url 'home' %}">
          <img src="{% static 'image/d20.png' %}"
               alt="Meetup Room Logo"
               class="nav-logo">
        </a>
      </div>

      <nav>
        {% if user.is_authenticated %}
          <a href="{% url 'create_meetup' %}">Host a Meetup</a>
          <a href="{% url 'join_meetups' %}">Join a Meetup</a>

          <form action="{% url 'logout' %}" method="post" class="logout-form">
            {% csrf_token %}
            <button type="submit" class="logout-link">Logout</button>
          </form>
        {% else %}
          {% url 'login' as login_url %}
          {% if login_url %}
            <a href="{{ login_url }}">Login</a>
          {% endif %}
          <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}

      {% block content %}{% endblock %}
    </main>
  </body>
</html>
